* {
	/*margin: 0;
	padding: 0;*/
	font-family: "microsoft yahei";
	/*color: #546c84;*/
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a:focus {
	outline: none;
	outline-offset: 0;
}

btn:focus {
	outline: none;
	outline-offset: 0;
}

.data-fontcolor {
	color: white;
}

.main-wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1625px;
	padding: 10px;
	overflow: hidden;
}

.search {
	border: 1px solid #ccc;
	background-color: #F4F5F7;
	padding: 15px;
	position: relative;
}

.interval-bottom {
	margin-bottom: 15px;
}

.search label {
	width: 136px;
	text-align: right;
}

.search .label-interval {
	margin-left: 20px;
}

.search .date-left {
	display: inline-block;
	width: 202px;
	vertical-align: middle;
}

.btn-search {
	width: 120px;
}

.table-title {
	margin-top: 5px;
	padding: 8px;
	font-size: 18px;
	background-color: #0078D7;
	color: #fff;
}

.table-title label {
	margin-bottom: 0;
	line-height: 34px;
}

.detail-nav {
	padding: 2px;
	background-color: #E9EEF2;
}

.detail-nav> p {
	display: inline-block;
	margin: 0;
}

.detail-video {
	margin-top: 10px;
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 215px;
	top: 30px;
}

.detail-player {
	position: absolute;
	right: 560px;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: black;
}

.detail-glxx {
	position: relative;
	float: right;
	width: 540px;
	height: 100%;
}

.glxx-title {
	padding: 10px;
	background-color: #0078D7;
	color: white;
	font-size: 18px;
	margin: 0;
}

.list-click-title {
	display: block;
	padding: 5px 0 5px 15px;
	color: #fff;
	background-color: #5EA9E3;
	margin-top: 5px;
	text-decoration: none;
}

.list-click-title:hover,
.list-click-title:focus {
	color: #fff;
	text-decoration: none;
}

.list-click-title> i {
	margin-right: 10px;
	line-height: 20px;
	vertical-align: middle;
}

.glxx-list {
	list-style: none;
	display: none;
}

.glxx-list> li {
	margin-top: 5px;
	border: 1px solid #ccc;
	padding: 8px;
}

.glxx-list p {
	margin-bottom: 5px;
}

.datail-tools {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.infos-list {
	margin-top: 10px;
	list-style: none;
	overflow: hidden;
	margin-bottom: 0;
}

.infos-list> li {
	float: left;
	width: 100px;
	padding: 5px;
	background-color: #5EA9E3;
	margin-right: 10px;
}

.infos-active,
.infos-list> li:hover {
	background-color: #0078D7 !important;
}

.infos-list> li> a {
	width: 100%;
	text-align: center;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.infos-container {
	background-color: #E9EEF2;
	height: 160px;
	margin-top: 3px;
	padding: 15px;
}

.table-container {
	position: absolute;
	bottom: 30px;
	top: 224px;
	left: 0;
	right: 0;
	padding: 10px;
}

.bootstrap-table .table thead>tr>th {
	background-color: #E0E7ED;
}

.fixed-table-pagination {
	overflow: hidden;
	background-color: #E8EDF1;
	padding: 5px;
	margin: 0;
}

.fixed-table-pagination .pagination-detail,
.fixed-table-pagination div.pagination {
	margin-top: 0px;
	margin-bottom: 0px;
}

.pagination {
	height: 34px;
}

.bootstrap-table {
	height: 100%;
}

.fixed-table-container {
	height: 100%;
}

.fixed-table-body {
	position: absolute;
	left: 0;
	right: 0;
	top: 42px;
	bottom: 0px;
	height: auto;
}

.fixed-table-pagination {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

ul {
	padding: 0;
}

.form_datetime input {
	background-color: #FFF !important;
}

.time-area {
	display: inline-block;
	width: 729px;
}

.input-group-addon {
	padding: 6px 10px;
}

.custom-pagination {
	height: 30px;
	padding: 3px;
	text-align: right;
}

.total {
	border-color: #2e6da4;
	padding: 10px;
	border-radius: 10px;
	margin: 8px;
}

.row-interval {
	margin-bottom: 10px;
}

.detail-infoarea {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

.glxx-wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 35px;
	top: 45px;
	overflow: auto;
}

.datail-tools> label {
	line-height: 34px;
	vertical-align: middle;
	margin-bottom: 0;
}


/*//操作按钮*/

.startUp {
	margin-right: 3px;
}

.powerOff {
	margin-right: 3px;
}

.lock {
	margin-right: 3px;
}

.unlock {
	margin-right: 3px;
}