* {
	/*padding:0px;
    margin:0px;*/
	font-family: "microsoft yahei";
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a:focus {
	outline: none;
	outline-offset: 0;
}
label{
	width: 130px;
}

btn:focus {
	outline: none;
	outline-offset: 0;
}

.main-wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 688px;
	/*padding: 15px;*/
	padding-top: 0px;
	overflow: auto;
	overflow-x: hidden;
}

.shebiexinxi{
	padding: 10px;
	background-color: #E0E7ED;
	border: 1px solid rgba(86, 61, 124, .2);
}

.to-center{
	text-align: center;
	/*padding: 25px;*/
}
.to-inline{
	display: inline-block;
	padding: 5px;
	width: 315px;
}

.to_select {
	width: 170px;
	display: inline-block;
}

.btn_1 {
	width: 100px;
	height: 30px;
	background-color: #1b9bfe;
	color: #FFFFFF;
	border: none;
	border-radius: 0;
	display: inline-block;
}
.date-left {
	display: inline-block;
	width: 170px;
	vertical-align: middle;
}
.pfxx{
	padding: 10px;
}
